<html>
    <head>
        <title>Blog App</title>
        <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
         <link href="http://www.fontspace.com/glitch/arcade-classic?text=&fontsize=51" rel="stylesheet" type="text/css">
    </head>
<body>
<div class="ui container">
    <div class="ui fixed inverted menu">
        <div class="ui container menuCenter">
            <div class="header item blogTitle"><a href="/blogs">SpaceCamp [TTKIMWW]</a></div>
                    <a href="/blogs/new" class="item">
                        New Post
                    </a>
                <div class="right menu">
                    <a class="item">
                        Portfolio
                    </a>
                    <a class="item">
                        Image db
                    </a>
                    <a class="item">
                        Contact
                    </a>
                </div>
        </div>
    </div>
</div>
