body, html {
	font-family: OCR A Std;
	margin: 0;
	background: url("http://static.tumblr.com/wih8lae/lj6lnl5tp/zwwjr.gif");
	background-position: fixed;
	color: red;
}

a {
    color: rgba(0, 153, 153, 1);
    font-family: OCR A Std;
}

p, blockquote {
    font-family: OCR A Std;
    font-size: 1em;
}

.ui.inverted.menu>p {
    padding: 15px;
    color: rgb(65, 164, 255);
}

.ui.inverted.menu {
    margin-top: 20px;
    background: none;
    color: black;
}

.ui.text.container {
    background: none;
    border: 2px solid blue;
}

.blogPost .header, .ui.huge.header {
    color: rgb(182, 244, 66);
    font-family: Arcade Classic;
    font-size: 1.5em;
}

.blogPostTitle {
    background-color: blue;
    border-bottom: 3px double rgb(182, 244, 66);
    margin-bottom: 10px;
    padding: 0;
}

.menuCenter {
    border: 1px solid rgb(1, 255, 255);
    background-color: rgba(32, 119, 149, .5);
    
}

div.ui.text.container, .blogPost {
    background-color: rgba(32, 119, 146, .3);
}

.ui.container {
    width: 80%;
}

.ui.text.container {
    margin-top: 7.0em;
}

#delete {
    display: inline;
}

.ui.inverted.menu.archive {
    color: white;
    border: 1px solid blue;
    margin-top: 90px;

}

.ui.inverted.menu>p {
    color: rgb(182, 244, 66);
    text-transform: uppercase;
    font-size: 1.5em;
    margin-bottom: 0;
}

.description p {
    color: 	rgb(1, 255, 255);
}

.blogPost {
    border-left: 2px solid blue;
    border-bottom: 30px solid rgb(1, 255, 255);
    border-right: 2px solid blue;
    border-top: 2px solid blue;
    margin-top: 90px;
    margin-left: 50px;
    padding: 15px;
}

.image {
    padding: 10px;
}

.ui.read {
    margin: 20px;
}

.meta {
    color: white;
    /*padding: 10px;*/
}

#footer {
	position:fixed;
	float: right;
    height:80px;
    width: 10px;
    background-color: none;
    border: 3px solid red;
    bottom:0px;
    left:px;
    right:0px;
    margin-bottom: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#footer:active{
	width: 130px;
	transition: 0.4s linear;
	opacity: 1.0;
}

#date {
    color: white;
}