body, html {
	font-family: OCR A Std;
	margin: 0;
	background: url("http://static.tumblr.com/wih8lae/lj6lnl5tp/zwwjr.gif");
	background-position: fixed;
	color: red;
}

a {
    color: rgba(0, 153, 153, 1);
    font-family: OCR A Std;
}

p, blockquote {
    font-family: OCR A Std;
    font-size: 1em;
}

.ui.container {
    width: 80%;
}

/* NAVBAR */
.menuCenter {
    border: 1px solid blue;
    background-color: blue;
    
}

.ui.inverted.menu {
    margin: 0 auto;
    margin-top: 20px;
    background: none;
}

.blogTitle {
    border-right: 1px solid white;
}
/* END NAVBAR */

/*BLOGPOST */


#date, .meta {
    color: white;
    font-family: OCR A Std;
    font-size: 10px;
}

.ui.text.container {
    margin-top: 7.0em;
    border: 2px solid blue;
}

.blogPost {
    margin: 0 auto;
    border-left: 2px solid blue;
    border-bottom: 20px solid blue;
    border-right: 2px solid blue;
    border-top: 2px solid blue;
    margin-top: 90px;
    padding: 15px;
}

.blogPost .header, .ui.huge.header {
    color: rgb(182, 244, 66);
    font-family: Arcade Classic;
    font-size: 1.5em;
}

.blogPostTitle {
    background-color: blue;
    border-bottom: 3px double rgb(182, 244, 66);
    margin-bottom: 10px;
    padding: 0;
}

div.ui.text.container, .blogPost {
    background-color: rgba(32, 119, 146, .3);
}

.description p {
    color: rgb(1, 255, 255);
}

.image {
    padding: 10px;
}

.ui.read {
    margin: 20px;
}

#delete {
    display: inline;
}

/* END BLOGPOST */

/* ARCHIVE MENU */

.ui.inverted.menu>p {
    padding: 10px;
    margin-bottom: 0px;
    color: rgb(182, 244, 66);
    text-transform: uppercase;
    font-size: 1.2em;
}

.ui.inverted.menu.archive {
    width: 95%;
    background-color: rgba(32, 119, 146, .8);
    color: white;
    border: 2px solid blue;
    margin-top: 90px;
    
}

/* END ARCHIVE MENU */

/* NEW BLOG ENTRY */

input {
    background: none;
}

.ui.form .field>label {
    font-family: OCR A Std;
    color: white;
}



/* FOOTER */

#footer {
	position:fixed;
	float: right;
    height:80px;
    width: 10px;
    background-color: none;
    border: 3px solid red;
    bottom:0px;
    left:px;
    right:0px;
    margin-bottom: 60px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#footer:active{
	width: 130px;
	transition: 0.4s linear;
	opacity: 1.0;
}

/* FOOTER */